<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Extension Options</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../styles/options.css">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <p id="main-title"> About <i>LinksAndMoreLinks</i></p>
            </div>
            <div id="main">
                <div class="boxy"> Description: </div>
                <div class="boxy"> Author: </div>
                <div class="boxy"> Version: </div>
                <div class="boxy"> Status: </div> <br /> <br />
                <div class="boxy"> Contact: </div>
            </div>
            <div id="sec">
                <div class="boxy-sup"> An extension to open multiple URL's at the same time. </div>
                <div class="boxy-sup"> Tom-L-M</div>
                <div class="boxy-sup"> 1.0.0 </div>
                <div class="boxy-sup"> Deployed and Stable </div> <br /> <br />
                <div class="boxy-sup-contact"> <a href="mailto: t.luchesi.machado@gmail.com">t.luchesi.machado@gmail.com</a></div>
                <div class="boxy-sup-contact"> <a target="_blank" href="https://github.com/Tom-L-M/LinksAndMoreLinks-ChromeExtension"> https://github.com/LinksAndMoreLinks-ChromeExtension </a> </div>
            </div>
        </div>
        <script src="../manifest.json"></script>
        <script src="../../scripts/options.js"></script>
    </body>
</html>
